[Unit]
Description=XAMPP

[Service]
Type=forking
ExecStart=/opt/lampp/lampp start
ExecStop=/opt/lampp/lampp stop

[Install]
WantedBy=multi-user.target
