[user]
pinned=/usr/share/applications/xfce4-appfinder.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/firefox-esr.desktop;
noWindowsListIfSingle=true
showWindowCount=true
middleButtonBehavior=1
indicatorStyle=3
inactiveIndicatorStyle=4
showPreviews=true
indicatorOrientation=1
