[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch WebBrowser %u http://localhost:8096
Icon=emby
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;GTK;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
X-AppStream-Ignore=True
Name=Emby
Comment=Aplicativo media center
