[Desktop Entry]
Name=XAMPP Control Panel
Name[pt_BR]=Painel de Controle do XAMPP
GenericName=XAMPP
X-GNOME-FullName=XAMPP Control Panel
Comment=Apache, MariaDB, PHP and Perl Server
Comment[pt_BR]=Servidor Apache, MariaDB, PHP e Perl
Exec=xampp-control-panel
Icon=xampp
Terminal=false
Type=Application
Categories=Development;Database;
StartupNotify=true


