command-switchuser=dm-tool switch-to-greeter
favorites=xfce4-web-browser.desktop,xfce4-mail-reader.desktop,xfce4-file-manager.desktop,xfce4-terminal-emulator.desktop,xfce4-screenshooter.desktop,org.xfce.mousepad.desktop,org.gnome.Calculator.desktop,org.gnome.Software.desktop,xfce4-about.desktop
item-icon-size=0
hover-switch-category=true
launcher-show-description=false
button-icon=00-dx-logo
position-search-alternate=true
position-commands-alternate=true
position-categories-alternate=false
position-categories-horizontal=false
menu-width=455
menu-height=550
menu-opacity=25
show-command-settings=true
show-command-lockscreen=true
show-command-switchuser=false
show-command-logoutuser=false
show-command-restart=true
show-command-shutdown=false
show-command-suspend=false
show-command-hibernate=false
show-command-logout=true
show-command-menueditor=true
show-command-profile=true